# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\matth\IdeaProjects\td2-cpoa-histoire-dont-vous-etes-le-heros-hdvelh-MatthisHoules\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
